
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
</head>
<body>
  <div id="root"></div>
  <script src="#COMMONS_BUNDLE#"></script>
  <script src="#MAIN_BUNDLE#"></script>
</body>
</html>

